@media (max-width: 500px){
    .TopMenu{
        display: flex;
        width: 100%;
        align-items: center;
        background-color: #FF7F50;
    }
    .TopMenu h1{
        margin: 0 auto;
        font-size: 10vw;
    }
    .TopMenu .images{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
        margin-left: 0.2rem;
    }
    .TopMenu img{
        width: 8vw;
    }

    .Present_Container {
        position: relative;
        width: 100%;
        min-height: 100vw;
        background-image: url('../images/tiktokbanner.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .Present_Container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(95, 200, 204, 0.4);
        z-index: 1;
    }
    .Present_Container h1{
        font-size: 10vw;
    }
    .Present_Container p{
        font-size: 5vw;
    }
    .Present_Container h1,
    .Present_Container p,
    .Present_Container button {
        position: relative;
        z-index: 2;
    }
    .Present_Container h1, .Present_Container p{
        text-align: center;
    }
    .Present_Container p{
        color: white;
    }
    .Present_Container button {
        background-color: #00CED1;
        border: none;
        font-size: 22px;
        padding: 0.5rem;
        border-radius: 10px;
        margin-top: 2rem;
        transition: transform 0.3s;
        cursor: pointer;
    }
    
    .Present_Container button:hover {
        transform: scale(0.9);
        color: white;
    }
    .aboutus{
        display: flex;
        flex-direction: column;
        background-color: #333333;
    }
    .aboutus img{
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        margin-top: 1rem;
    }
    .aboutus_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
    }
    .aboutus_content h1{
        font-size: 10vw;
    }
    .aboutus_content p{
        text-align: center;
        width: 90%;
        padding-bottom: 1rem;
        font-size: 5vw;
    }
    .ourServices{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FF7F50;
    }
    .service_h1{
        padding-top: 2rem;
        font-size: 10vw;
    }
    .services_imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service h1{
        font-size: 10vw;
    }
    .service p{
        font-size: 5vw;
    }
    .service:nth-child(3){
        padding-bottom: 2rem;
    }
    .service img{
        width: 60%;
        border-radius: 10px;
    }
    .contactus{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background-color: #333333;
        color: white;
        padding-top: 2rem;
    }
    .contactus h1{
        font-size: 10vw;
    }
    .contactus p{
        font-size: 5vw;
    }
    .contactus button{
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        cursor: pointer;
        gap: 1rem;
        color: white;
        padding-bottom: 1rem;
    }
    .contactus button img{
        width: 8vw;
    }
}